{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
{{ .Content }}
<div class="image-grid">

    {{ with .Site.GetPage "/photos" }}
        {{ range (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Content }}">
            {{ $image := .Page.Resources.GetMatch .Params.image }}
            {{ $imageTitle := .Title }}
            {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <figure>
                <img src="{{ $thumb.RelPermalink }}" alt="{{ $imageTitle }}" class="img-responsive">
                <figcaption>{{ $imageTitle }}</figcaption>
            </figure>
            {{end}}
        </a>
        {{ end }}
    {{end}}
</div>
{{end}}
